.techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5F5;
    padding-left: 70px;
    padding-right: 70px;
}

@media (max-width: 768px) {

    .techs{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 629px) {

    .techs {
        background-color: #ffffff;
    }
}

@media (max-width: 460px) {

    .techs {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.techs__title {
    margin: 100px 0 0;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    font-weight: normal;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #000000;
}

@media (max-width: 768px) {

    .techs__title  {
        margin-top: 90px;
    }
}

@media (max-width: 460px) {

    .techs__title  {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
        margin-top: 70px;
    }
}

.techs__subtitle {
    margin: 90px auto 0;
    font-size: 50px;
    line-height: 58px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.04em;
}

@media (max-width: 768px) {

    .techs__subtitle  {
        margin: 80px auto 0;
    }
}

@media (max-width: 460px) {

    .techs__subtitle  {
        margin: 60px auto 0;
        font-size: 30px;
        line-height: 36px;
    }
}

.techs__paragraph {
    margin: 26px auto 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.04em;
}

@media (max-width: 768px) {

    .techs__paragraph   {
        margin: 22px auto 0;
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 460px) {

    .techs__paragraph   {
        margin: 24px auto 0;
        font-size: 11px;
        line-height: 16px;
    }
}

.techs__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px auto 90px;
    background-color: #F5F5F5;

    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

@media (max-width: 768px) {

    .techs__nav {
        margin: 84px auto 90px;
    }
}

@media (max-width: 629px) {

    .techs__nav {
        background-color: #ffffff;
        margin: 84px 35px 90px;
    }
}

@media (max-width: 460px) {

    .techs__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; 
        margin: 50px auto 70px;
    }
}

.techs__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    background-color: #E8E8E8;
    border-radius: 10px;
    text-decoration: inherit;
    border: none;
}

@media (max-width: 629) {

    .techs__link {
        margin: 0;
    }
}

@media (max-width: 768px) {

    .techs__link {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }
}