.login__button {
    margin: 179px auto 0;
    padding: 13px 178px 15px 176px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    background-color: #000000;
}

@media (max-width: 460px) {

    .login__button {
        margin: 282px 0 0;
        padding: 15px 0 15px 0;
    }
}
